caseAllCovidClient/src/META-INF/wsdl/localhost_8080/CaseAllCovidWeb/caseAllCovidWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="caseAllCovidWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CaseAllCovidWeb/caseAllCovidWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findCaseByWeeknum">
<part name="parameters" element="tns:findCaseByWeeknum"/>
</message>
<message name="findCaseByWeeknumResponse">
<part name="parameters" element="tns:findCaseByWeeknumResponse"/>
</message>
<message name="findCaseById">
<part name="parameters" element="tns:findCaseById"/>
</message>
<message name="findCaseByIdResponse">
<part name="parameters" element="tns:findCaseByIdResponse"/>
</message>
<message name="findAllCase">
<part name="parameters" element="tns:findAllCase"/>
</message>
<message name="findAllCaseResponse">
<part name="parameters" element="tns:findAllCaseResponse"/>
</message>
<portType name="caseAllCovidWebService">
<operation name="findCaseByWeeknum">
<input wsam:Action="http://services/caseAllCovidWebService/findCaseByWeeknumRequest" message="tns:findCaseByWeeknum"/>
<output wsam:Action="http://services/caseAllCovidWebService/findCaseByWeeknumResponse" message="tns:findCaseByWeeknumResponse"/>
</operation>
<operation name="findCaseById">
<input wsam:Action="http://services/caseAllCovidWebService/findCaseByIdRequest" message="tns:findCaseById"/>
<output wsam:Action="http://services/caseAllCovidWebService/findCaseByIdResponse" message="tns:findCaseByIdResponse"/>
</operation>
<operation name="findAllCase">
<input wsam:Action="http://services/caseAllCovidWebService/findAllCaseRequest" message="tns:findAllCase"/>
<output wsam:Action="http://services/caseAllCovidWebService/findAllCaseResponse" message="tns:findAllCaseResponse"/>
</operation>
</portType>
<binding name="caseAllCovidWebServicePortBinding" type="tns:caseAllCovidWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCaseByWeeknum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCaseById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="caseAllCovidWebService">
<port name="caseAllCovidWebServicePort" binding="tns:caseAllCovidWebServicePortBinding">
<soap:address location="http://localhost:8080/CaseAllCovidWeb/caseAllCovidWebService"/>
</port>
</service>
</definitions>